.drag {
    border: 1px solid black;
    padding: 15px 5px;
    margin: 5px 0;
    text-align: center;
}

#dropzone {
    padding: 10px 30px;
    height: 100vh;
    overflow-y: scroll;
}

a {
    text-decoration: none !important;
}

.offcanvas-backdrop {
    position: relative !important;
    z-index: 0 !important;
    background-color: transparent;
}

#navbar {
    box-shadow: 0 0 15px #e4e4e4;
}

img {
    width: 100%;
    height: auto;
}

svg {
    font-size: 30px;
}

.row>* {
    padding: 0 5px;
}

p {
    padding: 10px 0;
    margin-bottom: 0 !important;
}

.text-spacing {
    overflow-wrap: break-word;
}

.text-break {
    word-wrap: break-word;
}

.timer-div {
    display: flex;
    justify-content: center;
}

.icon-div {
    justify-content: center;
}

.mockup-window {
    overflow: visible !important;
}

.carousel-img {
    height: 400px;
}

#logo {
    width: 80px;
    height: 60px;
}

.offcanvas-backdrop.show {
    opacity: 0 !important;
}

.offcanvas-backdrop {
    position: relative !important;
    z-index: 0 !important;
}

.offcanvas-end {
    width: 300px !important;
}

.tui-image-editor-header-logo img {
    display: none;
}

.e-richtexteditor.e-rte-tb-expand .e-rte-content,
.e-richtexteditor.e-rte-tb-expand .e-source-content,
.e-richtexteditor.e-rte-tb-expand,
.e-toolbar .e-toolbar-items .e-toolbar-item.e-separator {
    border: 0 !important;
}

.e-toolbar .e-toolbar-items,
.e-toolbar .e-tbar-btn:hover {
    background-color: white !important;
}

.action-div {
    display: none;
}

.item-border:hover>.action-div {
    display: block;
}

.sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFF;
    overflow-x: hidden;
    padding: 20px;
    transition: 0.5s ease-in-out;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.rich-editor {
    z-index: 1;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-link {
    display: inline;
    padding: 0 20px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs {
    font-size: 12px;
}

.expired-notice {
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    margin: 0.5rem;
}

.expired-notice>span {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}

.expired-notice>p {
    font-size: 1rem;
}

.show-counter {
    display: flex;
    justify-content: center;
}

.show-counter .countdown-link {
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #000;
}

.show-counter .countdown {
    line-height: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.show-counter .countdown.danger {
    color: #ff0000;
}

.show-counter .countdown>p {
    margin: 0;
}

.show-counter .countdown>span {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (min-width: 480px) {
    img {
        width: 100%;
        height: 350px;
    }
}

@media only screen and (max-width: 770px) {
    .hide-mobile {
        display: none;
    }
}